JUNE2022SOAApplication/OrderProcessSystem/SOA/WSDLs/OPSBPEL.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="OPSBPEL"
     targetNamespace="http://pratice.com/JUNE2022SOAApplication/OrderProcessSystem/OPSBPEL"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://pratice.com/JUNE2022SOAApplication/OrderProcessSystem/OPSBPEL"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:ns1="http://schemas.oracle.com/bpel/extension"
    >
    <plnk:partnerLinkType name="OPSBPEL">
        <plnk:role name="OPSBPELProvider" portType="client:OPSBPEL"/>
        <plnk:role name="OPSBPELRequester" portType="client:OPSBPELCallback"/>
    </plnk:partnerLinkType>
    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://pratice.com/JUNE2022SOAApplication/OrderProcessSystem/OPSBPEL"
                 schemaLocation="../Schemas/OPSBPEL.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="OPSBPELRequestMessage">
        <wsdl:part name="payload" element="client:orderRequest"/>
    </wsdl:message>
    <wsdl:message name="OPSBPELResponseMessage">
        <wsdl:part name="payload" element="client:orderResponse"/>
    </wsdl:message>
    <wsdl:portType name="OPSBPEL">
        <wsdl:operation name="process">
            <wsdl:input message="client:OPSBPELRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="OPSBPELCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:OPSBPELResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
