JUNE2022SOAApplication/OrderProcessSystem/SOA/Schemas/OPSBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://pratice.com/JUNE2022SOAApplication/OrderProcessSystem/OPSBPEL"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="orderRequest">
    <complexType>
      <sequence>
        <element name="orderID" type="integer"/>
        <element name="custInfo">
          <complexType>
            <sequence>
              <element name="custID" type="integer"/>
              <element name="custName" type="string"/>
            </sequence>
          </complexType>
        </element>
        <element name="cardInfo">
          <complexType>
            <sequence>
              <element name="ccNumber" type="integer"/>
              <element name="ccVendor" type="string"/>
            </sequence>
          </complexType>
        </element>
        <element name="lineItem" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="id" type="integer"/>
              <element name="productName" type="string"/>
              <element name="productCost" type="integer"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  
  
  <element name="orderResponse">
    <complexType>
      <sequence>
        <element name="ord_id" type="string"/>
        <element name="ccValdationStatus" type="string"/>
        <element name="totalCost" type="string"/>
        <element name="orderStatus" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>