JUNE2022SOAApplication/DesigntimeMDSProject/SOA/apps/JUNE2022SOAApplication/CardValidationSystem/Schemas/CVSBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://practice.com/JUNE2022SOAApplication/CardValidationSystem/CVSBPEL"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="cardReq">
    <complexType>
      <sequence>
        <element name="ccNumber" type="integer"/>
        <element name="ccVendor" type="string"/>
      </sequence>
    </complexType>
  </element>
  
  <element name="cardRes">
    <complexType>
      <sequence>
        <element name="ccNumber" type="integer"/>
        <element name="ccVendor" type="string"/>
        <element name="ccStatus" type="string"/>
      </sequence>
    </complexType>
  </element>
  
    <element name="faultSchema">
    <complexType>
      <sequence>
        <element name="code" type="integer"/>
        <element name="faultName" type="string"/>
        <element name="faultMessage" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>