JUNE2022SOAApplication/helloworld/SOA/Schemas/requestdoc.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://practice.com/demo/helloworld/request"
            targetNamespace="http://practice.com/demo/helloworld/request" 
            elementFormDefault="qualified">
  <xsd:element name="exampleElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="request">
  <xsd:complexType>
  <xsd:sequence>
    <xsd:element name="username" type="xsd:string"/>
  </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  
  
  
</xsd:schema>
